In [1]:
import pandas as pd

In [2]:
# Read data from file
df = pd.read_csv("adult.data.csv")
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

# How many of each race are represented in this dataset?

In [14]:
race_count = df["race"].value_counts()
print("Number of each race:\n", race_count)

Number of each race:
 White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

# What is the average age of men?

In [15]:
average_age_men = round(df[df["sex"] == "Male"]["age"].mean(),1)

print("Average age of men:", average_age_men)

Average age of men: 39.4

# What is the percentage of people who have a Bachelor's degree?

In [16]:
percentage_bachelors = round((df[df["education"] == "Bachelors"].shape[0] / df.shape[0]) *100,1)

print(f"Percentage with Bachelors degrees: {percentage_bachelors}%")

Percentage with Bachelors degrees: 16.4%

# What percentage of people with advanced education ("Bachelors", "Masters", or "Doctorate") make more than 50K?
# What percentage of people without advanced education make more than 50K?

In [17]:
# with and without `Bachelors`, `Masters`, or `Doctorate`
higher_education = df[(df["education"].isin(["Bachelors","Masters","Doctorate"])) & (df["salary"] == ">50K")].shape[0]
lower_education = df[(~df["education"].isin(["Bachelors","Masters","Doctorate"])) & (df["salary"] == ">50K")].shape[0]

# percentage with salary >50K
higher_education_rich =  round((higher_education / df[df["education"].isin(["Bachelors","Masters","Doctorate"])].shape[0]) * 100,1)
lower_education_rich = round((lower_education / df[~df["education"].isin(["Bachelors","Masters","Doctorate"])].shape[0]) * 100,1)

print(f"Percentage with higher education that earn >50K: {higher_education_rich}%")
print(f"Percentage without higher education that earn >50K: {lower_education_rich}%")

Percentage with higher education that earn >50K: 46.5%
Percentage without higher education that earn >50K: 17.4%

# What is the minimum number of hours a person works per week (hours-per-week feature)?

In [18]:
min_work_hours = df["hours-per-week"].min()

print(f"Min work time: {min_work_hours} hours/week")

Min work time: 1 hours/week

# What percentage of the people who work the minimum number of hours per week have a salary of >50K?

In [19]:
num_min_workers = df[(df["hours-per-week"] == min_work_hours) & (df["salary"] == ">50K")].shape[0]
rich_percentage = round((num_min_workers / df[df["hours-per-week"] == min_work_hours].shape[0]) * 100,1)

print(f"Percentage of rich among those who work fewest hours: {rich_percentage}%")

Percentage of rich among those who work fewest hours: 10.0%

# What country has the highest percentage of people that earn >50K?

In [20]:
highest_earning_country = (df[df["salary"] == ">50K"]["native-country"].value_counts() / 
                             df["native-country"].value_counts()).idxmax()

highest_earning_country_percentage = round(((df[df["salary"] == ">50K"]["native-country"].value_counts() /
                                        df["native-country"].value_counts()) * 100).max(),1)

print("Country with highest percentage of rich:", highest_earning_country)
print(f"Highest percentage of rich people in country: {highest_earning_country_percentage}%")

Country with highest percentage of rich: Iran
Highest percentage of rich people in country: 41.9%

# Identify the most popular occupation for those who earn >50K in India.

In [21]:
top_IN_occupation = (df[(df["native-country"] == "India") & (df["salary"] == ">50K")]["occupation"].value_counts()).idxmax()

print("Top occupations in India:", top_IN_occupation)

Top occupations in India: Prof-specialty